<md-toolbar class="md-hue-2" md-theme="proyecto" style="position: fixed">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
      <md-icon md-svg-icon="assets/iconos/menu.svg" ui-sref="login"></md-icon>
    </md-button>

    <h2 flex md-truncate>Proyecto Web Estudiantes</h2>

    <md-button class="md-icon-button" aria-label="Favorite">
      <md-icon md-svg-icon="assets/iconos/usuario.svg"></md-icon>
    </md-button>

    <md-button class="md-icon-button" aria-label="More">
      <md-icon md-svg-icon="assets/iconos/config.svg"></md-icon>
    </md-button>
  </div>
</md-toolbar>
