<md-toolbar class="md-hue-2" md-theme="proyecto" style="position: fixed">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-icon="assets/iconos/home.svg"></md-icon>
    </md-button>

    <h2 flex md-truncate>StudyApp</h2>
    <span flex></span>
    <md-button ng-if="!vm.isLogged" ui-sref="login">
      Inicia Sesion
    </md-button>
    <md-button ng-if="vm.isLogged" ng-click="vm.logout()">
    	<md-icon ng-src="vm.usuarioxd.url_foto_usuario"></md-icon>
      {{ vm.user.nombre_usuario }}  --  Cerrar Sesion
    </md-button>

  </div>
</md-toolbar>