<div ng-cloak layout-gt-sm="row" layout="column" md-theme="login">

  <div flex-gt-sm="50" flex>
    <md-content>
        <center>
          <h2>Iniciar Sesión</h2>
          <img class="userLogin" ng-src="{{ vm.imageUser }}" class="md-avatar">
        </center>
        <form ng-submit="vm.login(vm.credentials)">
          <span ng-if="vm.loginError" style="color: red">campos incorrectos</span>
          <md-input-container class="md-block" flex-offset="25" flex="50">
            <label>Email</label>
            <input ng-model="vm.credentials.email" type="text" required>
          </md-input-container>
          <md-input-container class="md-block" flex-offset="25" flex="50">
            <label>Contraseña</label>
            <input ng-model="vm.credentials.password" type="password" required>
          </md-input-container>
          <center><md-button type="submit" class="md-raised md-primary loginbutton">Iniciar Sesión</md-button></center>
        </form>       
    </md-content>
  </div>

  <md-divider></md-divider>

  <div flex-gt-sm="50" flex>
    <md-content>
      <center>
        <h2>Registrarse</h2>
        <img class="userRegister" ng-src="{{ vm.imageUser }}" class="md-avatar">
      </center>
      <md-input-container class="md-block" flex-offset="25" flex="50">
        <label>Nombre</label>
        <input>
      </md-input-container>
      <md-input-container class="md-block" flex-offset="25" flex="50">
        <label>Email</label>
        <input>
      </md-input-container>
      <md-input-container class="md-block" flex-offset="25" flex="50">
        <label>Contraseña</label>
        <input type="password">
      </md-input-container>
      <md-input-container class="md-block" flex-offset="25" flex="50">
        <label>Repetir Contraseña</label>
        <input type="password">
      </md-input-container>
      <md-input-container class="md-block" flex-offset="25" flex="50">
        <label>Institución</label>
        <input>
      </md-input-container>
      <center><md-button class="md-raised md-primary loginbutton" ui-sref="add">Registrarse</md-button></center>
    </md-content>
  </div>

</div>