<md-sidenav
	class="md-sidenav-left"
	md-component-id="left"
	md-is-locked-open="$mdMedia('gt-md')"
	md-whiteframe="4"
	style="height:100%; width: 20%; position: fixed; margin-top: 4em"
	md-theme="sideBar">

	<md-toolbar>
		<h1 class="md-toolbar-tools">Opciones de asignatura</h1>
	</md-toolbar>
	<md-content layout-padding>
		<md-button ng-click="close()" class="md-primary" hide-gt-md>
		  Cerrar
		</md-button>
		<p hide show-gt-md ui-ref="actividades">Actividades</p><md-divider></md-divider>
		<p hide show-gt-md ui-ref="apuntes">Apuntes</p><md-divider></md-divider>
		<p hide show-gt-md ui-ref="notas">Notas</p><md-divider></md-divider>
		<p hide show-gt-md>Trabajos</p><md-divider></md-divider>
		<p hide show-gt-md>Modificar</p>
	</md-content>

</md-sidenav>