<md-sidenav
	class="md-sidenav-left"
	md-component-id="left"
	md-is-locked-open="true"
	md-whiteframe="4"
	style="height:100%; width: 20%; position: fixed; margin-top: 7em"
	md-theme="sideBar">

	<md-toolbar>
		<h1 class="md-toolbar-tools">Opciones de asignatura</h1>
	</md-toolbar>
	<md-content layout-padding>
		<p show-gt-md ui-sref="actividades({usuario: vm.user.nombre_usuario})">Actividades</p><md-divider></md-divider>
		<p show-gt-md ui-sref="apuntes({usuario: vm.user.nombre_usuario})">Apuntes</p><md-divider></md-divider>
		<p show-gt-md ui-sref="notas({usuario: vm.user.nombre_usuario})">Notas</p><md-divider></md-divider>
		<p show-gt-md ui-sref="trabajos({usuario: vm.user.nombre_usuario})">Trabajos</p><md-divider></md-divider>
		<p show-gt-md ui-sref="asignatura({usuario: vm.user.nombre_usuario})">Detalles</p>
	</md-content>
</md-sidenav>
