<my-sidebar></my-sidebar>
<my-tab></my-tab>
<div style="padding-top: 4em; padding-left: 4em" flex-offset="5" md-theme="asignatura">
	<md-content class="md-padding" layout-xs="column" layout="column" flex="50" flex-offset="25">
		<center>
			<div flex="50"  layout="column">
			<md-card>
				<md-card-title>
					<h3>Promedio Actual</h3>
				</md-card-title>
				<md-divider></md-divider>
				
					<p style="padding-left: 10px;"> {{ vm.promedio }} </p>				
			</md-card>
			</div>
		</center>
		{{ vm.asignatura.nombre_asignatura }}
	</md-content>
</div>
