<my-sidebar></my-sidebar>
<div style="padding-top: 4em; padding-left: 4em" flex-offset="5" md-theme="asignatura">
		
		<md-content class="md-padding" layout-xs="column" layout="column" flex="50" flex-offset="25">
			<center>
				<div flex="50"  layout="column">
				<md-card>
					<md-card-title>
						<h3>Promedio Actual</h3>
					</md-card-title>
					<md-divider></md-divider>
					
						<p style="padding-left: 10px;">0</p>				
				</md-card>
				</div>
			</center>
			
		</md-content>
		<md-content class="md-padding" layout-xs="column" layout="column" flex="50" flex-offset="25">
			<center>
				<div flex="50"  layout="column">
				<md-card >
					<md-card-title>
						<center><h3>Horas Totales: {{ vm.horast }}</h3></center>
					</md-card-title>
					<md-divider></md-divider>
						<p style="padding-left: 10px;">{{ vm.horasp }} horas necesarias para aprobar</p>
						<md-input-container  flex="50">
							<label>Procentaje Asistencia</label>
							<input ng-model="hora" type="number">
						</md-input-container>
						<md-button class="md-raised md-primary" ng-click="vm.mod(hora)">CALCULAR PORCENTAJE</md-button>
				</md-card> 
			</div>
			</center>
			
		</md-content>
		
</div>
