<my-sidebar></my-sidebar>
<div style="padding-top: 4em; padding-left: 20em" flex-offset="5">
	<md-content class="md-padding" layout-xs="column" layout="row">
		<div flex-xs flex-gt-xs="25" layout="column">
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Agregar Apunte</span>
					</md-card-title-text>
				</md-card-title>
				<md-input-container class="md-block" flex-offset="10" flex="80">
					<label>Titulo de Apunte</label>
					<input ng-model="apunte.titulo">
				</md-input-container>
				<div flex-gt-xs>
      				<center><h4>Fecha</h4>
      			    </center>
  				  	<md-datepicker ng-model="apunte.fecha" md-placeholder="Selecciona Fecha" flex-offset="10" flex="80"></md-datepicker>

    			</div>
				<md-input-container class="md-block" flex-offset="10" flex="80">
					<label>Contenido</label>
					<input ng-model="apunte.contenido">
				</md-input-container>
				<md-button class="md-raised md-primary" ng-click="vm.addApunte(apunte)">AÑADIR</md-button>
			</md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column" flex-offset="10">
			<md-card ng-repeat="apunte in vm.apuntes" layout="column">
				<center><span class="md-headline asigtitle">{{ apunte.titulo }}</span></center>
				<center><p>{{ apunte.fecha }}</p></center>
				<md-divider></md-divider>
				<center><p> {{ apunte.contenido }} </p></center>
			</md-card>
		</div>
	</md-content>
</div>